.bigGoldText {
  color: #edd15d;
  font-size: 3rem;
  background-color: #3d405b;
  padding: 20px 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 18%;
  font-weight: 800;
}
.inverseText {
  color: #3d405b;
  font-size: 2rem;
  background-color: #edd15d;
  padding: 25px;
  height: 10%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  text-align: right;
}

.form {
  padding: 4px;
}
.formField {
  display: flex;
  flex-direction: column;
}
.formField label {
  font-size: 19px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  padding-right: 10px;

}
.formField input {
  font-size: 16px;
  height: 22px;
  width: 475px;
}
